In [1]:
import requests
import pandas as pd
import json

In [6]:
data = pd.read_csv('data\data_prod.csv')

In [53]:
g = requests.get('https://ocr-scoring-app.azurewebsites.net/predict', json = data.loc[[0]].to_json())

In [7]:
t = data.loc[[0]].to_json()

In [11]:
t.dtypes

AttributeError: 'str' object has no attribute 'dtypes'

In [54]:
g.text

'{"Class":0,"Class probabilities":0.6688207983970642}\n'

In [5]:
pd.read_json(t)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,INSTAL_AMT_INSTALMENT_SUM,INSTAL_AMT_PAYMENT_MIN,INSTAL_AMT_PAYMENT_MAX,INSTAL_AMT_PAYMENT_MEAN,INSTAL_AMT_PAYMENT_SUM,INSTAL_DAYS_ENTRY_PAYMENT_MAX,INSTAL_DAYS_ENTRY_PAYMENT_MEAN,INSTAL_DAYS_ENTRY_PAYMENT_SUM,INSTAL_COUNT,CREDIT_CARD_Y_N
0,100001,NaN,Cash loans,F,N,Y,0,135000,568800,20560.5,...,41195.925,3951,17397.9,5885.132143,41195.925,-1628,-2195,-15365,7,1

In [9]:
pd.read_json(json.loads(g.text)['data'])

KeyError: 'data'

In [55]:
import joblib

In [56]:
pipeline = joblib.load('app/pipeline-xgboost-scoring')

In [57]:
location = data.loc[[0]]

In [59]:
y_pred = pipeline.predict(location)
y_proba = pipeline.predict_proba(location)

In [73]:
(y_proba[0][1] >= 0) & (y_proba[0][1] <= 1)

True

In [77]:
(0.1 >= 0) & (0.1 <= 1)

True

In [20]:
1 - y_proba[0][1]

0.6688207983970642

In [2]:
pd.read_csv('data\X_train.csv').shape

(46125, 158)

In [29]:
h = pd.read_csv('data\X_test.csv')

In [16]:
import pickle
with open('app/columns_name.pickle', 'rb') as f:
    nums_columns_name = pickle.load(f)

In [32]:
nums_columns_name in h.columns.tolist()

False

In [36]:
h.columns.tolist() in nums_columns_name

False

In [44]:
['CODE_GENDER', 'INSTAL_COUNT'] in h.columns.tolist()

False

In [45]:
set(h.columns.tolist()).issubset(nums_columns_name)

False

In [37]:
all(item in nums_columns_name for item in h.columns.tolist())

False

In [49]:
my_list = ['CODE_GENDER', 'INSTAL_COUNT']
other_list = ['CODE_GENDER', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'INSTAL_COUNT']

all(item in h.columns.tolist() for item in nums_columns_name)

True

In [51]:
columns = h.columns

In [78]:
with open('app/columns_name.pickle', 'rb') as f:
    columns_names = pickle.load(f)

In [81]:
test_data = pd.read_csv('data/X_test.csv').loc[[0]].to_json()

In [82]:
def test_check_columns():
    df = pd.read_json(test_data)
    columns = df.columns
    assert all(item in columns.tolist() for item in columns_names)

In [83]:
test_data = pd.read_csv('data/X_test.csv').loc[[0]].to_json()

In [87]:
df = pd.read_json(test_data)
columns = df.columns

In [89]:
columns

Index(['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY',
       'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE',
       ...
       'INSTAL_AMT_INSTALMENT_SUM', 'INSTAL_AMT_PAYMENT_MIN',
       'INSTAL_AMT_PAYMENT_MAX', 'INSTAL_AMT_PAYMENT_MEAN',
       'INSTAL_AMT_PAYMENT_SUM', 'INSTAL_DAYS_ENTRY_PAYMENT_MAX',
       'INSTAL_DAYS_ENTRY_PAYMENT_MEAN', 'INSTAL_DAYS_ENTRY_PAYMENT_SUM',
       'INSTAL_COUNT', 'CREDIT_CARD_Y_N'],
      dtype='object', length=452)

In [90]:
with open('app/columns_name.pickle', 'rb') as f:
    columns_names = pickle.load(f)

In [92]:
all(item in columns for item in columns_names)

True